.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding-left:15px;
  margin: -15px -15px 15px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  h3 {
  	margin:0;
  	font-size:18px;
  }
}

#test
{
	margin-left: 20px;
	margin-right: 20px;
}
.side-nav {
	margin-left:0 !important;
	 li {
		a {
			i {
				padding-right:5px;
				width:20px !important;
				display:inline-block !important;
			}
		}
	}
	>.active {
			a {
				background:#6a84fd !important;
				color:#fff !important;
			}
		}
}
.form-horizontal {
	label {
		padding-right:15px;
	}
}
.employee-search {
	label {
		display:block !important;
	}
}
.add-employee {
	.login-details {
		input[type="checkbox"] {
			float:left;
			margin-right:5px;
		}
	}
}
