.table-first-header {
  width: 20px;
  text-align: center !important; }

.table-last-header {
  width: 40px;
  text-align: center !important; }

.table-cell.first {
  text-align: center !important; }

.table-cell.last {
  text-align: center !important; }

.form-horizontal label {
  padding-right: 20px; }

